html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}
body{
    background-image: url(enano_martillo_magico.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: auto;
    background-size: 100% auto;
    
    
}

.principal{
    position: absolute;
    display: block;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    text-decoration: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: no-repeat;
    background-position: center;
    border-radius: 10px;

}

#principal1{
    top: 95%;
    left: 96%;
    transform: translate(-50%,-50%);
    background-image: url(fondo-imagenes.jpeg);
}

.texto-izquierdo{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    padding-left: 20px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    max-width: 260px;
    word-break: break-word;
    


}
#texto-izq-1{
    top: 100px;
    justify-content: space-between;
}
#texto-izq-2{
    top:340px;
}
#texto-izq-3{
    top:530px;
}
#texto-izq-4{
    top:700px
}
#texto-izq-5{
    top:950px;
}

.texto-derecho{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    padding-left: 20px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    max-width: 300px;
    word-break: break-word;

}
#texto-der-1{
    top: 120px;
}
#texto-der-2{
    top:290px;
}
#texto-der-3{
    top:510px;
}
#texto-der-4{
    top:720px
}
#texto-der-5{
    top:888px;
}

