html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url(Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;  /* asegurar que ocupe toda la pantalla */
}

.persona {
    position: absolute;
    display: block;
    width: 150px;             /* tamaño del bloque */
    height: 150px;
    text-align: center;
    line-height: 150px;       /* centra verticalmente el texto */
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    text-decoration: none;
    background-size: contain;  /* mantiene proporción original */
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;      /* opcional */
}


/* Ubicaciones ajustadas */
#persona1 {
    top: 44%; 
    left: 27%; 
    transform: translate(-50%, -50%); 
    background-image: url(fondo-imagenes.jpeg);
    }
#persona2 {
    top: 37%; 
    left: 18%; 
    transform: translate(-50%, -50%);
    background-image: url(fondo-imagenes.jpeg); }
#persona3 { 
    top: 25%; 
    left: 86%; 
    transform: translate(-50%, -50%);
    background-image: url(fondo-imagenes.jpeg); }
#persona4 { 
    top: 18%; 
    left: 49%; 
    transform: translate(-50%, -50%);
    background-image: url(fondo-imagenes.jpeg); }
