html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}
body{
    background-image: url(bofur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% auto;
}

.principal{
    position: absolute;
    display: block;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    text-decoration: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: no-repeat;
    background-position: center;
    border-radius: 10px;

}

#principal1{
    top: 90%;
    left: 80%;
    transform: translate(-50%,-50%);
    background-image: url(fondo-imagenes.jpeg);
}

.texto-izquierdo{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    padding-left: 20px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    max-width: 260px;
    word-break: break-word;


}
#texto-izq-1{
    top: 50px;
}
#texto-izq-2{
    top:200px;
}
#texto-izq-3{
    top:380px;
}
#texto-izq-4{
    top:580px
}
#texto-izq-5{
    top:770px;
}

.texto-derecho{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    padding-left: 20px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    max-width: 260px;
    word-break: break-word;

}
#texto-der-1{
    top: 70px;
}
#texto-der-2{
    top:250px;
}
#texto-der-3{
    top:430px;
}
#texto-der-4{
    top:650px
}
#texto-der-5{
    top:830px;
}
